<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<a href="/">Wybór roweru</a>
<a href="/user">Dodawanie użytkownika</a>
<a href="/terms">Termin wypożczenia roweru</a>

<h1 id="header" >Wybrany typ roweru:</h1>
<p class="description" th:text="${result.getType()}"></p>
<h2>Marka roweru: </h2>
<p class="description" th:text="${result.getMark()}"></p>


</body>
</html>