<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<a href="/">Wybór roweru</a>
<a href="/user">Dane użytkownika</a>
<a href="/terms">Termin wypożczenia roweru</a>

<h1 class="styleh1">BICYCLE WORLD - join us and have fun</h1>


<form action="/display">
    <label>Podaj typ roweru</label>
    <input type="text" name="type">
    <label>Podaj markę roweru</label>
    <input type="text" name="mark">
    <input type="submit" value="Dodaj">


</form>
</body>
</html>