<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Termin wypożyczenia roweru </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<a href="/">Strona główna</a>
<h1>Podaj termin wypożyczenia roweru</h1>

<form action="/terms" method="post">
    <label>Podaj datę wypożyczenia roweru</label>
    <input type ="date" name="dateOfRental">
    <label >Podaj datę zwrotu roweru</label>
    <input type ="date" name="dateOfReturn">
    <input type="submit" value="dodaj">


</form>
</body>
</html>