<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Użytkownicy</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<a href="/">Strona główna</a>
<a href="/terms">Termin wypożczenia roweru</a>
<h1>Dodaj użytownika</h1>


<form action="/user" method="post">

    <label>Podaj imię użytkownika</label>
    <input type="text" name="username">
    <label>Podaj email użytkownika</label>
    <input type="text" name="email">
    <input type="submit" value="Dodaj">


</form>
</body>
</html>